In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('test.csv', delimiter=';')

In [19]:
df

      a  b
0   1.0  1
1   2.0  2
2   3.0  3
3   4.0  4
4   NaN  5
5   NaN  6
6   NaN  7
7   7.0  8
8   5.0  9
9   5.0  0
10  4.0  7

In [20]:
df['a'] = df['a'].fillna(df['b'] * 2)

In [21]:
df

       a  b
0    1.0  1
1    2.0  2
2    3.0  3
3    4.0  4
4   10.0  5
5   12.0  6
6   14.0  7
7    7.0  8
8    5.0  9
9    5.0  0
10   4.0  7

In [25]:
df.apply(lambda x: x['a'], axis=1)

0      1.0
1      2.0
2      3.0
3      4.0
4     10.0
5     12.0
6     14.0
7      7.0
8      5.0
9      5.0
10     4.0
dtype: float64